.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    flex: 1 1 auto;
}
.fields {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
