.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.field {
    margin-bottom: 15px;
}
